  <body class="container">
    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> Coffee News</h1>
        </div>
    </div>
    <div class="row">
        <div id="results" class="col-md-12">
           <!-- Results from DB here -->
        </div>
    </div>

    <script src="app.js"></script>
  </body>